.codeFrame {
  position: relative;
  margin-bottom: 2rem;

  .copyButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25em 0.5em;
    font-size: 12px;
    cursor: pointer;
    background: #ccc;
    border-bottom-left-radius: 0.25em;
  }

  .codeWrapper {
    padding: 1rem;
    overflow-x: auto;
    background: #1e1e1e;
  }

  code {
    font-family: "Courier New", Consolas, monospace;
    color: #d4d4d4;
  }

  [data-role="keyword"] {
    color: #c586c0;
  }

  [data-role="storage"] {
    color: #569cd6;
  }

  [data-role="operator"] {
    color: #d4d4d4;
  }

  [data-role="type"] {
    color: #4ec9b0;
  }

  [data-role="numeric"] {
    color: #b5cea8;
  }

  [data-role="string"] {
    color: #ce9178;
  }

  [data-role="variable"] {
    color: #9cdcfe;
  }

  [data-role="constant"] {
    color: #4fc1ff;
  }

  [data-role="function"] {
    color: #dcdcaa;
  }

  span[data-role="comment"] {
    color: #6a9955;
  }
}
