.codeFrame {
  position: relative;
  margin-bottom: 2rem;

  .copyButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25em 0.5em;
    font-size: 12px;
    cursor: pointer;
    background: #ccc;
    border-bottom-left-radius: 0.25em;
  }

  .codeWrapper {
    padding: 1rem;
    overflow-x: auto;
    background: #1e1e1e;
  }

  code {
    font-family: "Courier New", Consolas, monospace;
    color: #d4d4d4;
  }
}
